<head>
<style type="text/css">
body{

  font-family: "Cooper Black";
  font-size: 22px;
  font-style: bold;
  color: white;
      
    }

table{

  border: 1px solid lightblue;
}

th{
  padding: 18px;
  text-align: center;
  height: 50px;
  vertical-align: center;
  color: lightblue;
}

td{
  padding: 15px;
  text-align: center;
  height: 50px;
  vertical-align: center;
}

</style>
</head>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table>
      <tr>
      <th>Opponent</th>
      <th>Date</th>
      <th>Time</th>
      </tr>
        {% for match in matches %}
        <tr>
          <td>{{match.opponent}}</td>
          <td>{{match.date}}</td>
          <td>{{match.time}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>